body {font-family: Arial; background-color: #fbf1c7; }

.grille-de-fond {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: min-content 1fr;
grid-column-gap: 1px;
grid-row-gap: 1px;
color: #d0cece;
border: solid 0px #2a2929; }

/* Entête avec texte: LE Redico et vous n'êtes pas connecté ou {{ user }} est connecté */
.div-header             { grid-area: 1 / 1 / 2 / -1;  }
    .div-header                 { color: #9d0006; border: solid 0 red; text-align: center; }

/*  barre de navigation avec Joueurs Reficos Se loguer(déloguer) Changer mdp Comment juer  */
.div-navigation         { grid-area: 2 / 1 / span 1 / span 12; }
    .navigation         { text-align:center; width: 100%; margin-left: 0;
                          margin-right: 0;font-size: 0.95em; background-color: #f9f5d7; border: solid 0 green; }
    .navigation a, a:link, a:visited, a:focus, a:active
                        { color: black; text-decoration:none; cursor: pointer;font-size: 0.95em; }
    .navigation a:hover { color: #9d0006; font-weight: bold; }

/* Messages  */
.div-messages           { grid-area: 3 / 1 / 4 / -1;  border: solid 0 rosybrown; width: 100%; height: auto;
                         color: black; font-weight: bold; margin-right: auto; }
/* Colonne de gauche*/
.div-colonne-gauche     { grid-area: 4 / 1 / 11 / 4; }
    .div-colonne-gauche     { border: solid 0 #fbe32b; background-color: #fbf1c7; color: red; font-size: 0.75em; border-radius: 5px; padding: 5px; }
    .div-stats              { grid-column: 1; grid-row: 1; border: 1px solid  black; }
    .div-dern-props         { grid-column: 1; grid-row: 2; border: 1px solid  black;}
    .div-dern-evals         { grid-column: 1; grid-row: 3; border: 1px solid  black;}
    .div-redicos-actifs     { grid-column: 1; grid-row: 4; border: 1px solid  black;}
    .div-joueurs-actifs     { grid-column: 1; grid-row: 5; border: 1px solid  black;}
    .div-les-lois           { grid-column: 1; grid-row: 6; border: 1px solid  black;}
    .div-les-codes          { grid-column: 1; grid-row: 7; border: 1px solid  black;}
    .div-footer             { grid-column: 1; grid-row: 8; border: 1px solid  black; }
    .div-colonne-gauche caption    { color: black; font-weight: bold; }



.div-index-detail       { grid-area: 4 / 4 / 11 / -1; }
.div-index-detail caption {color: black; }
.div-formes             { grid-area: 5 / 4 / 11 / span 7; border: solid 0px greenyellow;  }
    .div-formes .div-header     { color:black; margin: 10% auto 10% auto; border: solid 2px black;  font-size: 0.7em; width: 80%;}
    .div-formes .changer-mdp ul li   { margin-left: auto; margin-right: auto;
                                       color: black; border: dotted 0px red;   font-size: 1.2em;}



table                       { font-size: 0.75em; color: black; border: solid 0px #6f6e71;  margin-left: auto; margin-right: auto; width: 100%;  }
table td                    { border: solid 1px #787777; }
/*table tr:nth-child(even)    { background-color: #2e2e2e;  }*/
/*table  tr:nth-child(odd)    { background-color: #f9f5d7;  }*/
table caption               { color: wheat; }
table .no-border            { border-collapse: collapse; }
table caption .div-wrapper  { display: flex; border: solid 0px red; margin-top: 20px; width: 100%; height: 40px; }
table .div-wrapper          { text-align: center; }
form                        { width: 100%; border: solid 1px  #2e2e2e; margin-right: auto; margin-left: auto; margin-top: 10px;  }
form .div-wrapper           { text-align:center; margin: 10px 0px 20px 0px; border: solid 0px yellow; }
form .div-wrapper button    { background-color: #2e2e2e; color: whitesmoke}

form textarea               { display: block; margin-left: auto; margin-right: auto;  border: solid 0px yellow; }
form input[type="text"], input[type="password"], input[type="email"], textarea
                            {   display: block; margin-left: auto; margin-right: auto; background-color : #dbd8d8; border: solid 0px red;  }


td.actions                  { border: solid 0px red;  font-size: 0.95em; background-color: #fbf1c7;
                              color: #fff; }
div .btn-action { background-color: #f9f5d7;
                  border: solid black 1px;
                  color: red;
                  padding: 1px 1px;
                  width: 60px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 12px;
                  margin: 1px 1px;
                  cursor: pointer;
                  border-radius:10px;

}

div .btn-action:hover { color: #9d0006; font-weight: bold; }
/*div caption .btn-action {   background-color: red; !* Green *!*/
/*                      border: solid white 1px;*/
/*                      color: yellow;*/
/*                      padding: 2px 2px;*/
/*                      width: 100px;*/
/*                      text-align: center;*/
/*                      text-decoration: none;*/
/*                      display: inline-block;*/
/*                      font-size: 12px;*/
/*                      margin: 1px 1px;*/
/*                      cursor: pointer; }*/


table tr.tbl_header { cursor:pointer; }

.div-comment-jouer      { grid-area: 7 / 2 / 8 / 11; border: solid 0px white;  height: auto; }
    /*.div-comment-jouer td   { border: solid 1px #787676; font-size: 0.95em; }*/
    .div-comment-jouer td   { border: solid 1px #787676; font-size: 0.95em; }
    .div-comment-jouer tr:nth-child(even)      { background-color: #fbf1c7;  }
    .div-comment-jouer tr:nth-child(odd)      { background-color: #f9f5d7;  }


/* Style the button that is used to open and close the collapsible content */
.collapsible  {
    display: inline-block;
    /*align-items: center;*/
    /*justify-content: center;*/

  background-color: #fbf1c7;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}

.collapsible2  {
    display: inline-block;
    /*align-items: center;*/
    /*justify-content: center;*/

  background-color: #2e2e2e;
  color: wheat;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: yellow;
}

.content1 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: blueviolet; }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #f9f5d7;
}

div.hidden { display: none; }
div.visible { display: block; }
    /*.div-index-detail .joueur-detail { border: solid 0px red;  }*/
    /*.div-index-detail .proposition-detail td      { border: solid 1px #787777;   }*/
    /*.div-index-detail .proposition-detail tr:nth-child(even)  { background-color: #2e2e2e;  }*/
    /*.div-index-detail .proposition-detail tr:nth-child(odd)   { background-color: #242424;  }*/
    /*.div-index-detail .proposition-detail caption { border: solid hotpink 2px; text-align: center; margin-left: auto; margin-right: auto;  }*/
    /*.div-index-detail .joueur-detail { border: solid 0px red;  }*/
    /*.div-index-detail .joueur-detail td      { border: solid 1px #787777;   }*/
    /*.div-index-detail .joueur-detail tr:nth-child(even)  { background-color: #2e2e2e;  }*/
    /*.div-index-detail .joueur-detail tr:nth-child(odd)   { background-color: #242424;  }*/
    /*.div-index-detail .joueur-detail caption { border: solid hotpink 2px; text-align: center; margin-left: auto; margin-right: auto;  }*/
    /*.div-index-detail .redico-detail td      { border: solid 1px #787777;  f}*/
    /*.div-index-detail .redico-detail tr:nth-child(even)  { background-color: #2e2e2e;  }*/
    /*.div-index-detail .redico-detail tr:nth-child(odd)   { background-color: #242424;  }*/

    /*.div-index-detail .redico-detail caption { border: solid red 0px; text-align: center; margin-left: auto; margin-right: auto;  }*/
    /*.div-index-detail .redico-index .div-wrapper div .btn-action:nth-of-type(0) {  border: solid 3px green;}*/
    /*.div-index-detail .redico-index .div-wrapper div .btn-action:nth-of-type(1) {  border: solid 3px yellow;}*/
    /*.div-index-detail .redico-index td      { border: solid 1px #787777;  }*/
    /*.div-index-detail .redico-index tr:nth-child(even)  { background-color: #2e2e2e;  }*/
    /*.div-index-detail .redico-index tr:nth-child(odd)   { background-color: #242424;  }*/
    /* Bouton en haut de la table redico-list       */
    /*.div-index-detail .redico-detail { border: solid 1px cornflowerblue;  }*/
    /*.div-index-detail .joueur-detail  { border: solid 2px red;  }*/
    /*.div-index-detail .proposition-detail  { border: solid 2px navy;  }*/
    /*.div-index-detail .joueurs-index  { border: solid 0px red;  }

    /*.div-formes .div-wrapper div {  display: inline-block;   border: solid 1px red;}*/
    /*.div-formes form  { margin-right: auto; margin-left: auto; }*/
    /*.div-formes  label              { color: red;  font-size: 0.9em; }*/

    /*.div-index-detail { border: solid 2px green;  margin-left: auto; margin-right: auto;   width: 100%;}*/
    /*.div-index-detail .redico-index { border: solid 1px pink; text-align:center;  }*/

