{% extends 'base.html' %}
{% block comment-jouer %}{% endblock %}
{% block colonne-gauche %}{% endblock %}

{% block formes %}
    <div class="div-formes">
        <div class="div-header">
            <h3>Oublié votre mot de passe</h3>
        </div>

        <form method="post">
            {% csrf_token %}
                {{ form.as_p }}
            <div class="div-wrapper">
                <button type="submit" class="form-button btn" formnovalidate >Confirmer</button>
                <a href="{% url 'redicos-index' %}"> <button class="btn" type="button" >Annuler</button></a>
            </div>
        </form>
    </div>
{% endblock %}


