{% extends "base.html" %}
{% load i18n %}

{% block comment-jouer %}{% endblock %}
{% block colonne-gauche %}{% endblock %}
{#{% block messages %}{% endblock %}#}

{% block formes %}
    <div class="div-formes">
        <div class="div-header">
            <h2 class="text-center">Changer le mot de passe de {{ user }}</h2>
        </div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}

        <div class="div-wrapper">
            <button type="submit" class="form-button btn" formnovalidate >Confirmer</button>
            <a href="{% url 'redicos-index' %}"> <button class="btn" type="button" >Annuler</button></a>
        </div>

        </form>
    </div>
{% endblock formes %}

