{% extends 'base.html' %}

{% block comment-jouer %}{% endblock %}
{% block colonne-gauche %}{% endblock %}

{% block formes %}
    <div class="div-formes">
        <div class="div-header">
        Nous vous avons envoyé par e-mail les instructions pour réinitialiser<br />
        votre mot de passe, si un compte existe avec le courriel que vous avez entré,<br />
        vous devriez les recevoir prochainement.
        <br />

        Si vous ne recevez pas de courriel, veuillez vous assurer que vous avez<br />
        bien donné l'adresse avec laquelle vous vous êtes inscrit,<br />
        et vérifiez votre dossier de courrier spam.
     </div>
    </div>
{% endblock %}