{% extends 'base.html' %}

{% block comment-jouer %}{% endblock %}
{% block colonne-gauche %}{% endblock %}
{% block messages %}{% endblock %}

{% block formes %}
    <div class="div-formes">
        <div class="div-header">
        {% if validlink %}
            <h3>Modifier votre mot de passe</h3>
            <form method="post">

                {% csrf_token %}

                {{ form.as_table }}

                        <div class="div-wrapper">
                <button type="submit">Modifier mdp</button>
                             <a href="{% url 'redicos-index' %}"> <button class="btn" type="button" >Annuler</button></a>

        </div>
            </form>
            {% else %}
                <p>
                Le lien pour réinitialiser votre mot de passe n'est pas valide.
                Veuillez faire une autre demande pour réinitialiser votre mot de passe
                </p>
        {% endif %}
        </div>
    </div>
{% endblock %}