{% load gb_filters %}
{% block dern-evals %}
    <div class="div-dern-evals">
    <table width="100%">
        <caption>Dernières évaluations<p></caption>
        <tbody>
            {% for e in dern_evals %}
                <tr>
                    <td><a href="/redico/{{ e.proposition__redico__id }}#{{ e.proposition__sequence }}">
                           [{{ e.joueur__username|slice:":12"}} = {{ e.eval|abstention}}]&emsp;</a></td>
                    <td><a href="/redico/{{ e.proposition__redico__id }}#{{ e.proposition__sequence }}">
                        {{ e.proposition__texte|truncatewords:6|safe|urlize }} </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock dern-evals %}
