{#<div class="dernieres-props">#}
{% block dern-props %}
    <div class="div-dern-props">
        <table width="100%">
            <caption>Dernières propositions <p></caption>
            <tbody>
                 {% for p in dern_props %}
                  <tr>
                      <td><a href="/redico/{{ p.redico__id }}#{{ p.sequence }}">
                          [{{ p.auteur__username|slice:":12"}}] &emsp;</a></td>
                       <td><a href="/redico/{{ p.redico__id }}#{{ p.sequence }}">
                           {{ p.texte|truncatewords:10|safe|urlize}}</a></td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock dern-props %}
{#</div>#}
