{% block les-codes %}
    <div class="div-les-codes">
        <br />
        <table >
                <tr><td class="code_A"></td><td class="code_text">0 < 10% Accord fort</td> </tr>
                <tr><td class="code_a"></td><td class="code_text">10% < 33.3% Accord mitigé</td></tr>
                <tr><td class="code_O"></td><td class="code_text">33.3% < 66.7% Opinion orthogonale</td></tr>
                <tr><td class="code_d"></td><td class="code_text">66.7% < 90% Désaccord mitigé</td></tr>
                <tr><td class="code_D"></td><td class="code_text">90% &leq; 100% Désaccord fort</td></tr>
                <tr><td class="code_X"></td><td class="code_text">(Abstention ou pas encore évaluée)</td></tr>
        </table>
    </div>
{% endblock %}