{#{% extends 'base.html' %}#}
{#{% block colonne-droite %}{% endblock %}#}

{#<div class="les-lois">#}
    {% block les-lois %}
        <div class="div-les-lois">
        <table>
            <tr>
                <td><a href="/comment_jouer#f1r1" title="En REDICO, on n’argumente pas.">Loi 1</a></td>
                <td><a href="/comment_jouer#f1r2" title="En REDICO, c'est mieux si les joueurs alternent à faire des propositions">Loi 2</a></td>
                <td><a href="/comment_jouer#f1r3" title="Le proposeur évalue le premier ses propres propositions"> Loi 3</a></td>
                <td><a href="/comment_jouer#f1r4" title="Il est préférable de faire des propositions concises" >Loi 4</a></td>
                <td><a href="/comment_jouer#f1r5" title="Pourune partie à 2 joueurs, pas plus de 8~10 propositions par salve. À 3 joueurs pas plus de 3-4 par salve">Loi 5</a></td>
                <td><a href="/comment_jouer#f1r6" title="les propositions évaluées ne peuvent plus être éditées. Si l'auteur souhaite reformuler une de ses propositions, il doit le faire en émettant une nouvelle proposition régulière explicitement identifiée comme étant une reformulation de la première.">Loi 6</a></td>
            </tr>
            <tr>
                <td><a href="/comment_jouer#f1r7" title="Si une proposition contient un lien vers une page web volumineuse, on doit indiquer où se trouve le bout le plus pertinent. Pour une vidéo de plus de quelques minutes, on indique où commence (et finit) le bout pertinent.">Loi 7</a></td>
                <td><a href="/comment_jouer#f1r8" title="Si on suspend l’évaluation d’une proposition, on en émet une autre portant sur la raison qui nous a empêché d’évaluer la première.">Loi 8</a></td>
                <td><a href="/comment_jouer#f1r9" title="Pas plus d’un URL par proposition.">Loi 9</a></td>
                <td><a href="/comment_jouer#f1r10" title="Mieux vaut émettre deux propositions séparées plutôt qu’une proposition double.">Loi 10</a></td>
                <td><a href="/comment_jouer#f1r11" title="Quand un joueur abandonne la partie, il fit une roposition le déclarant">Loi 11</a></td>
                <td><a href="/comment_jouer#f1r12" title="Autant que possible, les propositions doivent être claires et autosuffisantes. Si, dans la proposition, on se réfère à des propositions déjà au dossier, on en indique les numéros.">Loi 12</a></td>
            </tr>
            <tr>
                <td><a href="/comment_jouer#f1r13" title="Un nouveau joueur qui se joint à une partie déjà en cours doit évaluer toutes les propositions déjà au dossier. (Facultatif si le dossier est énorme. Dans ce cas, le nouveau joueur doit évaluer au moins les 25 dernières propositions de la partie.)">Loi 13</a></td>
                <td><a href="/comment_jouer#f1r14" title="Si une proposition est “question de fait”, chacun évalue au mieux la probabilité (subjective) que ce prétendu fait soit vrai. Si la proposition à évaluer est plus floue et déborde sur les “questions de goût ou d’opinion”, on indique une sorte de “degré global d’accord”">Loi 14</a></td>
                <td><a href="/comment_jouer#f1r15" title="Tout joueur peut librement modifier ses évaluations passées, en en faisan mention aux autres joueurs">Loi 15</a></td>
                <td><a href="/comment_jouer#f1r16" title="Il n’y a pas de cantons tabous">Loi 16</a></td>
                <td><a href="/comment_jouer#f1r17" title="Éviter les formulations en “X est possible” ou “X est impossible”. Mieux vaut évaluer directement X. Si on le pense impossible, on met 0%. Si on le pense possible, on met > 0%.">Loi 17</a></td>
                <td><a href="/comment_jouer#f1r18" title="Si on commente son évaluation d’une proposition, ce commentaire doit être concis.">Loi 18</a></td>
            </tr>
            <tr>
                <td><a href="/comment_jouer#f1r19" title="Une partie se termine quand tous les joueurs, à tour de rôle, passent (i.e. ne salvent pas). Un joueur peut aussi proposer (en proposition régulière) la fin de la partie.">Loi 19</a></td>
            </tr>
        </table>
        </div>
    {% endblock %}
