{% load static %}
{#{% load bootstrap4 %}#}
{#{% bootstrap_css %}#}

{% block navigation %}

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{#        <li class="nav-item">#}
{#          <a class="nav-link active" aria-current="page" href="#">Home</a>#}
{#        </li>#}
        <li class="nav-item">
          <a class="nav-link" href="/joueurs">Joueurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/redicos">Redicos</a>
        </li>

        {% if user.is_authenticated %}
         <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Se déloguer</a>
        </li>
         {% else %}
          <li class="nav-item">
          <a class="nav-link"  href="{% url 'login' %}">Se loguer</a>
        </li>

        {% endif %}

{% comment %}        <li class="nav-item">
          <a class="nav-link" href="">Link</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>{% endcomment %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Entrez l'expression" aria-label="Recherche">
        <button class="btn btn-outline-success  btn-action " type="submit">Rechercher</button>
      </form>
    </div>
  </div>
</nav>

{% comment %}<div>
    <table>
        <td><a href="/joueurs">Joueurs</a></td>
        <td><a href="/redicos">Redicos</a></td>
        {% if user.is_authenticated %}
        <td><a href="{% url 'logout' %}">Se déloguer</a></td>
{#        <td><a href="{% url 'changer-mdp' %}">Changer mot de passe</a></td>#}
        {% else %}
        <td><a href="{% url 'login' %}">Se loguer</a></td>
{#        <td><a href="{% url 'mdp_oublie' %}">Oublié votre mdp ?</a></td>#}
{#        <td><a href="{% url 'register' %}"> S'enregistrer</a></td>#}
        {% endif %}
        <td><a href="/comment_jouer/">Comment jouer</a></td>
    </table>
</div>{% endcomment %}

{% endblock %}