{% extends 'base.html' %}
{% load widget_tweaks %}

{% block col-gauche %} {% endblock %}
{#{% block  message %}{% endblock %}#}
{#{% block  ligne-actions%}{% endblock %}#}


{% block centre %}
{#<div class="alert alert-primary col-sm-"5 >#}
    <form method="POST" action="">
        {% csrf_token %}
{#        {{ form.as_table }}#}
          {% render_field form.titre  rows="3" placeholder="Entrez le titre du Redico" %} <p></p>
        <div class="div-wrapper">
            <button type="submit" class="btn btn-primary btn-action  ">Confirmer</button>
            <a href="{% url 'redicos-index' %}" class="btn btn-primary btn-action">Annuler</a>
        </div>
    </form>
{#</div>#}
{% endblock centre %}