{# redico/edit.html#}
{% extends "base.html" %}
{% load evaluations_tags %}

{% block comment-jouer %}{% endblock %}
{% block colonne-gauche %}{% endblock %}
{% block messages %}{% endblock %}

{% block formes %}
    <div class="div-formes">
        <div class="div-header">
            {{ user }} vous pouvez éditer le titre de votre Redico
        </div>

        <form method="POST" action="">
            {% csrf_token %}
                    {{ form.as_table }}

            <div class="div-wrapper">
                <button type="submit" class="form-button btn">Sauvegarde</button>
                <a href="{% url 'redicos-index' %}"> <button class="btn" type="button" >Annuler</button></a>
            </div>
        </form>
    </div>  {# div-formes #}
{% endblock formes %}
