{% extends 'base.html' %}

{% block col-gauche %}{% endblock %}
{% block centre %}
{#   <div class="div-formes">#}
        <h6 class="text-center">Vous êtes l'auteur de ce Redico intitulé: intitulé:  <br>
                                "{{ redico.titre|slice:':25'}}..." <br>
                                et personne n'a encore fait de proposition. <br>
                                Voulez-vous le supprimer ?"</h6>
        <form action='redicos' method='POST'>
            {% csrf_token %}
            <div class="div-wrapper">
                <button type="submit" class="btn btn-primary btn-action  ">Confirmer</button>
                <a href="{% url 'redicos-index' %}"
                class="btn btn-primary btn-action">Annuler</a>
            </div>
        </form>
{#   </div>#}
{% endblock centre %}