{% extends 'base.html' %}

{% block comment-jouer %}{% endblock %}
{% block colonne-gauche %}{% endblock %}
{% block account %}{% endblock %}
{% block index-detail %}{% endblock %}
{% block action %}{% endblock %}
{% block messages %}{% endblock %}
{% block footer %}{% endblock %}

{% block formes %}
   <div class="div-formes">
        <h2 class="text-center">Vous êtes l'auteur de ce Redico intitulé: intitulé:  <p></p>
                                "{{ titre|slice:':25'}}..." <p></p>
                                et personne n'a encore fait de proposition. <p></p>
                                Voulez-vous le supprimer ?"</h2>

                <form action='.' method='POST'>{% csrf_token %}

                <div class="div-wrapper">
                    <button type="submit" class="form-button btn">Sauvegarde1</button>
                    <a href="{% url 'redicos-index' %}"> <button class="btn" type="button" >Annuler</button></a>
                </div>
    </form>
   </div>
{% endblock ajout-edit-supprime-eval %}